      <div class="cards col-6 pl-0" style="padding-bottom: 3vh">
        <% @dishes.each do |dish| %>
          <div class="card-excursion">
            <% if excursion.photo.attached? %>
              <%= cl_image_tag excursion.photo.key, crop: :scale , q_auto: :good  %>
            <% else %>
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
            <% end  %>
            <div class="card-excursion-infos">
              <div>
                <h2><%= link_to excursion.name, excursion_path(excursion.id) %></h2>
                <p><%= excursion.description %></p>
              </div>
              <h2 class="card-excursion-pricing">€<%= excursion.price %></h2>
              <% if excursion.user.photo.attached? %>
                <div class="card-excursion-user avatar-bordered">
                  <%= cl_image_tag excursion.user.photo.key, height: 40, width: 40, radius: "max",  crop: :thumb, fetch_format: :png %>
                </div>
              <% else %>
                <%= image_tag("user_avatar.png", class: "avatar")  %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
